trunk/mkey3g/wwwroot/schema/mdp-config.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mdp="http://mdp.d-heaven.com" targetNamespace="http://mdp.d-heaven.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation><![CDATA[ 数字天堂 mdp产品配置文件规范 v2.0 ]]></xsd:documentation>
	</xsd:annotation>
  
	<!--定义mdp配置-->
	<xsd:element name="configuration">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ 定义mdp配置 ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
				<!--访问策略-->
				<xsd:element ref="mdp:authorization" minOccurs="1" maxOccurs="1"/>
				<!--多数据源支持-->
        <xsd:element ref="mdp:bs-config" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="mdp:db-config" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="mdp:ftp-config" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
    </xsd:complexType>
	</xsd:element>
  
  
	<!--定义mdp访问策略-->
	<xsd:element name="authorization">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ 
			定义mdp访问策略,allow表示允许访问的数据源；denny表示禁止访问的数据源；如allow="*"表示允许访问所有数据源
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="mdp:allow" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="mdp:deny" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
  
  
	<!--定义允许访问的数据源-->
	<xsd:element name="allow">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ 定义允许访问的数据源 ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
      <xsd:attribute name="source" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
  
  
	<!--定义禁止访问的数据源-->
	<xsd:element name="deny">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ 定义禁止访问的数据源 ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="source" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
  
  
	<!--定义数据源配置-->
  
	<!--BS数据源 Start-->
	<xsd:element name="bs-config">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
			定义数据源配置,每一个数据源对应一个bs-config,每个bs-config下可以有多个bs-page,每个bs-page下可以有多个bs-rule 
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="mdp:httpHeader" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="mdp:proxy" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="mdp:ssl" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="mdp:login" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="mdp:sso" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="mdp:push" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="mdp:loginext" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="mdp:bs-page" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:choice>
      <xsd:attribute name="source" type="xsd:string"/>
      <xsd:attribute name="cacheTime" type="xsd:string"/>
			<xsd:attribute name="encoding" default="gb2312">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="gb2312"/>
						<xsd:enumeration value="gb18030"/>
						<xsd:enumeration value="utf-8"/>
						<xsd:enumeration value="big5"/>
            <xsd:enumeration value="iso-8859-1"/>
            <xsd:enumeration value="gbk"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
      <xsd:attribute name="header" type="xsd:string"/>
      <xsd:attribute name="footer" type="xsd:string"/>
      <!--http报头相关设置-->
      <xsd:attribute name="cookiePolicy" default="compatibility">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="compatibility"/>
            <xsd:enumeration value="netscape"/>
            <xsd:enumeration value="rfc2109"/>
            <xsd:enumeration value="rfc2965"/>
            <xsd:enumeration value="ignoreCookies"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="doAuthentication" type="xsd:boolean"/>
      <xsd:attribute name="followRedirects" type="xsd:boolean"/>
      <xsd:attribute name="http11" type="xsd:boolean"/>
      <xsd:attribute name="strictMode" type="xsd:boolean"/>
      <xsd:attribute name="singleCookieHeader" type="xsd:boolean"/>
      <xsd:attribute name="timeout" type="xsd:int"/>
      <xsd:attribute name="encodeParameter" type="xsd:boolean" default="true"/>
      <xsd:attribute name="encodeUrl" type="xsd:boolean" default="false"/>
      <xsd:attribute name="proxyIp" type="xsd:string"/>
      <xsd:attribute name="proxyUsername" type="xsd:string"/>
      <xsd:attribute name="proxyPassword" type="xsd:string"/>
      <xsd:attribute name="proxyPort" type="xsd:string"/>
      <xsd:attribute name="scriptEnabled" type="xsd:boolean"/>
      <xsd:attribute name="htmlToXmlProvider">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="JTIDY"/>
              <xsd:enumeration value="NEKOHTML"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
	</xsd:element>

  <!--httpHeader-->
  <xsd:element name="httpHeader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="mdp:header" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <!--Header-->
  <xsd:element name="header">
    <xsd:complexType>
      <xsd:attribute name="key" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Host"/>
            <xsd:enumeration value="Referer"/>
            <xsd:enumeration value="User-Agent"/>
            <xsd:enumeration value="Accept"/>
            <xsd:enumeration value="Connection"/>
            <xsd:enumeration value="Content-Type"/>
            <xsd:enumeration value="Accept-Charset"/>
            <xsd:enumeration value="Accept-Encoding"/>
            <xsd:enumeration value="If-Match"/>
            <xsd:enumeration value="If-Modified-Since"/>
            <xsd:enumeration value="If-None-Match"/>
            <xsd:enumeration value="If-Range"/>
            <xsd:enumeration value="If-Unmodified-Since"/>
            <xsd:enumeration value="Max-Forwards"/>
            <xsd:enumeration value="TE"/>
            <xsd:enumeration value="Pragma"/>
            <xsd:enumeration value="Cache-Control"/>
            <xsd:enumeration value="Date"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>


  <!--登录配置-->
  <xsd:element name="login">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="mdp:request" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!--登录扩展配置-->
  <xsd:element name="loginext">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="mdp:request" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
  <!--采集规则集合-->
	<xsd:element name="bs-page">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ 定义采集规则集合 ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="mdp:httpHeader" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="mdp:form-data" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="mdp:bs-rule" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="mdp:bs-frame" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="mdp:auth" minOccurs="0" maxOccurs="1"/>
			</xsd:choice>
			<xsd:attribute name="url" type="xsd:string" use="required"/>
      <xsd:attribute name="encoding" default="gb2312">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="gb2312"/>
            <xsd:enumeration value="gb18030"/>
            <xsd:enumeration value="gbk"/>
            <xsd:enumeration value="utf-8"/>
            <xsd:enumeration value="big5"/>
            <xsd:enumeration value="iso8859_1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>

      <xsd:attribute name="responseEncoding" default="gb2312">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="gb2312"/>
            <xsd:enumeration value="gb18030"/>
            <xsd:enumeration value="gbk"/>
            <xsd:enumeration value="utf-8"/>
            <xsd:enumeration value="big5"/>
            <xsd:enumeration value="iso8859_1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="cacheTime" type="xsd:string"/>
      <xsd:attribute name="title" type="xsd:string"/>
      <xsd:attribute name="isMultiPage" type="xsd:boolean"/>
      <xsd:attribute name="dhmi" type="xsd:string"/>
      <xsd:attribute name="redirectUrl" type="xsd:string"/>
      <xsd:attribute name="rewriteUrl" type="xsd:string"/>
			<xsd:attribute name="requestTemplate" type="xsd:string"/>
      <xsd:attribute name="responseTemplate" type="xsd:string"/>
      <xsd:attribute name="target">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="_self"/>
            <xsd:enumeration value="_blank"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="action" type="xsd:string"/>
      <xsd:attribute name="method" type="xsd:string"/>
      <xsd:attribute name="decodeRedirectUrl" type="xsd:boolean"/>
      <xsd:attribute name="enctype">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="www"/>
            <xsd:enumeration value="multipart"/>
            <xsd:enumeration value="dwr"/>
            <xsd:enumeration value="string"/>
            <xsd:enumeration value="text"/>
            <xsd:enumeration value="xml"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="boundary" type="xsd:string"/>
      <xsd:attribute name="display">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="text"/>
            <xsd:enumeration value="image"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="escape">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="encode"/>
            <xsd:enumeration value="decode"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="page" type="xsd:string"/>
      <!--http报头相关设置-->
      <xsd:attribute name="cookiePolicy" type="xsd:string"/>
      <xsd:attribute name="doAuthentication" type="xsd:boolean"/>
      <xsd:attribute name="followRedirects" type="xsd:boolean"/>
      <xsd:attribute name="http11" type="xsd:boolean"/>
      <xsd:attribute name="strictMode" type="xsd:boolean"/>
      <xsd:attribute name="singleCookieHeader" type="xsd:boolean"/>
      <xsd:attribute name="timeout" type="xsd:int"/>
      <!--url和参数是否编码-->
      <xsd:attribute name="encodeParameter" type="xsd:boolean" default="true"/>
      <xsd:attribute name="encodeUrl" type="xsd:boolean" default="false"/>
      <!--文档解析相关-->
      <xsd:attribute name="isFile" type="xsd:boolean" default="false"/>
      <xsd:attribute name="isDownload" type="xsd:boolean" default="false"/>
      
      <xsd:attribute name="scriptEnabled" type="xsd:boolean"/>
      <xsd:attribute name="htmlToXmlProvider">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="JTIDY"/>
            <xsd:enumeration value="NEKOHTML"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
	</xsd:element>
  
	
  <!--框架，采集指定框架的数据-->
	<xsd:element name="bs-frame">
		<xsd:complexType>
      <xsd:attribute name="url" type="xsd:string" use="required"/>
      <xsd:attribute name="regex" type="xsd:string" />
      <xsd:attribute name="encoding" default="gb2312">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
            <xsd:enumeration value="gb2312"/>
            <xsd:enumeration value="gb18030"/>
            <xsd:enumeration value="gbk"/>
            <xsd:enumeration value="utf-8"/>
            <xsd:enumeration value="big5"/>
            <xsd:enumeration value="iso8859_1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

  <!--form-data设置-->
  <xsd:element name="form-data">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="mdp:filepart" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <!--form-data中对file设置-->
  <xsd:element name="filepart">
    <xsd:complexType>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="filenameType" default="absolute">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="absolute"/>
            <xsd:enumeration value="relative"/>
            <xsd:enumeration value="windows"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="contentType" type="xsd:string"/>
      <xsd:attribute name="transferEncoding" type="xsd:string"/>
      <xsd:attribute name="charset" default="utf-8">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="gb2312"/>
            <xsd:enumeration value="gb18030"/>
            <xsd:enumeration value="gbk"/>
            <xsd:enumeration value="utf-8"/>
            <xsd:enumeration value="big5"/>
            <xsd:enumeration value="iso8859_1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <!--windows认证-->
  <xsd:element name="auth">
    <xsd:complexType>
      <xsd:attribute name="username" type="xsd:string" />
      <xsd:attribute name="password" type="xsd:string" />
      <xsd:attribute name="domain" type="xsd:string" />
      <xsd:attribute name="authPolicy" default="BASIC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BASIC"/>
            <xsd:enumeration value="NTLM"/>
            <xsd:enumeration value="DIGEST"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <!--单点登录-->
  <xsd:element name="sso">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="mdp:request" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="enterpriseCode" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>


  <!--自动PUSH-->
  <xsd:element name="push">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="mdp:request" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="enterpriseCode" type="xsd:string"/>
      <xsd:attribute name="loopTime" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>


  <!--代理配置-->
  <xsd:element name="proxy">
    <xsd:complexType>
      <xsd:attribute name="ip" type="xsd:string" use="required"/>
      <xsd:attribute name="port" type="xsd:int" use="required"/>
      <xsd:attribute name="username" type="xsd:string"/>
      <xsd:attribute name="password" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <!--SSL-->
  <xsd:element name="ssl">
    <xsd:complexType>
      <!--认证方式-->
      <xsd:attribute name="authType" default="single">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="single"/>
            <xsd:enumeration value="double"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>

      <!--SSL协议类型，TLS是传输层安全协议，而SSL是安全套接层-->
      <xsd:attribute name="sslProtocol" default="SSL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SSL"/>
            <xsd:enumeration value="TLS"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>

      <!--双向认证时的相关-->
      <xsd:attribute name="keystoreUrl" type="xsd:string"/>
      <xsd:attribute name="keystorePass" type="xsd:string"/>
      <xsd:attribute name="truststoreUrl" type="xsd:string"/>
      <xsd:attribute name="truststorePass" type="xsd:string"/>
      <xsd:attribute name="keystoreType" default="PKCS12">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PKCS12"/>
            <xsd:enumeration value="JKS"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="truststoreType" default="PKCS12">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PKCS12"/>
            <xsd:enumeration value="JKS"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  
  <!--HttpRequest-->
  <xsd:element name="request">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="url"/>
        <xsd:element name="params" />
        <xsd:element name="method" default="GET">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="POST"/>
              <xsd:enumeration value="GET"/>
              <xsd:enumeration value="HEAD"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="encoding" default="gb2312">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="gb2312"/>
              <xsd:enumeration value="gb18030"/>
              <xsd:enumeration value="gbk"/>
              <xsd:enumeration value="utf-8"/>
              <xsd:enumeration value="big5"/>
              <xsd:enumeration value="iso8859_1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
      <xsd:attribute name="id" type="xsd:string"/>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="sysid" type="xsd:string"/>
      <xsd:attribute name="loopExpression" type="xsd:string"/>
      <xsd:attribute name="denpendentRequest" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  
  
	<!--采集规则-->
	<xsd:element name="bs-rule">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ 定义采集规则 ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="mdp:bs-rule" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
      <xsd:attribute name="id" type="xsd:string"/>
      <xsd:attribute name="type" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="regex"/>
            <xsd:enumeration value="tag"/>
            <xsd:enumeration value="java"/>
            <xsd:enumeration value="javascript"/>
            <xsd:enumeration value="import"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="mode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="add"/>
            <xsd:enumeration value="remove"/>
            <xsd:enumeration value="replace"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="caption" type="xsd:string"/>
      <xsd:attribute name="ref" type="xsd:string"/>
      <xsd:attribute name="replacement" type="xsd:string"/>
      <xsd:attribute name="isTable" type="xsd:boolean"/>
      <xsd:attribute name="template" type="xsd:string"/>
      <xsd:attribute name="escape" type="xsd:string"/>
      <xsd:attribute name="regex" type="xsd:string"/>
      <xsd:attribute name="startTag" type="xsd:string"/>
      <xsd:attribute name="endTag" type="xsd:string"/>
      <xsd:attribute name="className" type="xsd:string"/>
      <xsd:attribute name="method" type="xsd:string"/>
      <xsd:attribute name="filePath" type="xsd:string"/>
      <xsd:attribute name="insertAt" type="xsd:string"/>
      <xsd:attribute name="fromIndex" type="xsd:string"/>
      <xsd:attribute name="html" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
  

  <!--FTP数据源 Start-->
  <xsd:element name="ftp-config">
    <xsd:annotation>
      <xsd:documentation>
        <![CDATA[ FTP SOURCE ]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="mdp:account" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="source" type="xsd:string"/>
      <xsd:attribute name="username" type="xsd:string"/>
      <xsd:attribute name="password" type="xsd:string"/>
      <xsd:attribute name="protocal" type="xsd:string"/>
      <xsd:attribute name="mode" default="active">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="active"/>
            <xsd:enumeration value="passive"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="encoding" default="gb2312">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="gb2312"/>
            <xsd:enumeration value="gb18030"/>
            <xsd:enumeration value="utf-8"/>
            <xsd:enumeration value="big5"/>
            <xsd:enumeration value="iso-8859-1"/>
            <xsd:enumeration value="gbk"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="outType" default="msc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="msc"/>
            <xsd:enumeration value="msc3"/>
            <xsd:enumeration value="html"/>
            <xsd:enumeration value="db"/>
            <xsd:enumeration value="wap1"/>
            <xsd:enumeration value="wap2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>


  <!--Account-->
  <xsd:element name="account">
    <xsd:complexType>
      
    </xsd:complexType>
  </xsd:element>


  <!--FTP数据源 End-->



  <!--DB数据源 Start-->
  <xsd:element name="db-config">
    <xsd:annotation>
      <xsd:documentation>
        <![CDATA[ FTP SOURCE ]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="mdp:dataSource" minOccurs="1" maxOccurs="1"/>
        <xsd:element ref="mdp:db-sql" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:choice>
      <xsd:attribute name="id" type="xsd:string"/>
      <xsd:attribute name="source" type="xsd:string"/>
      <xsd:attribute name="encoding" default="gb2312">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="gb2312"/>
            <xsd:enumeration value="gb18030"/>
            <xsd:enumeration value="utf-8"/>
            <xsd:enumeration value="big5"/>
            <xsd:enumeration value="iso-8859-1"/>
            <xsd:enumeration value="gbk"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>


  <!--DataBase Source Config-->
  <xsd:element name="dataSource">
    <xsd:annotation>
      <xsd:documentation>
        <![CDATA[ DataBase Source Config ]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <!--
      <mdp:dataSource dbType="mysql|sqlserver|db2|oracle|access" url="jdbc:microsoft:sqlserver://localhost:1433;DatabaseName=MyDB"
                    driver="com.microsoft.jdbc.sqlserver.SQLServerDriver"
                    username="root"
                    password="root"
                    minPoolSize="2"
                    maxPoolSize="20"/>

      -->
      <!--数据库类型，暂时支持五种-->
      <xsd:attribute name="dbType" default="mysql">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="mysql"/>
            <xsd:enumeration value="sqlserver"/>
            <xsd:enumeration value="db2"/>
            <xsd:enumeration value="oracle"/>
            <xsd:enumeration value="access"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <!--数据库连接地址connection string-->
      <xsd:attribute name="url" type="xsd:string"/>
      <!--数据库连接驱动，预留-->
      <xsd:attribute name="driver" type="xsd:string"/>
      <xsd:attribute name="username" type="xsd:string"/>
      <xsd:attribute name="password" type="xsd:string"/>
      <!--连接池配置，默认min 2 max 20-->
      <xsd:attribute name="minPoolSize" type="xsd:int"/>
      <xsd:attribute name="maxPoolSize" type="xsd:int"/>
    </xsd:complexType>
  </xsd:element>


  <!--数据库查询语句-->
  <xsd:element name="db-sql">
    <xsd:complexType>
      <!--
      <mdp:db-sql id="loginQuery" sql="select id,username,truename from table where username='?' and iswork=?" sqlParameters="{username},{iswork}" dataType="string,bool" order="createtime" sort="asc|desc" responseTemplate="" requestTemplate=""></mdp:db-query>
      -->
      <xsd:attribute name="id" type="xsd:string"/>
      <!--标准的SQL语句，需符合各自数据库SQL规范-->
      <xsd:attribute name="sql" type="xsd:string"/>
      <xsd:attribute name="sqlParameters" type="xsd:string"/>
      <xsd:attribute name="dataType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="string"/>
            <xsd:enumeration value="bool"/>
            <xsd:enumeration value="bytes"/>
            <xsd:enumeration value="stream"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="order" type="xsd:string"/>
      <xsd:attribute name="responseTemplate" type="xsd:string"/>
      <xsd:attribute name="requestTemplate" type="xsd:string"/>
      <xsd:attribute name="sort" default="desc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="asc"/>
            <xsd:enumeration value="desc"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <!--DB数据源 End-->
</xsd:schema>
