mkey3g/wwwroot/schema/msc3/MSC_Loading.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation><![CDATA[ 数字天堂 MSC 标签定义文件 v1.0 ]]></xsd:documentation>
	</xsd:annotation>
	<!--定义根节点-->
	<xsd:element name="msc">
		<xsd:complexType>
			<xsd:attribute name="type" type="xsd:string" fixed="loading"/>
			<xsd:attribute name="logo" type="xsd:string"/>
			<xsd:attribute name="description" type="xsd:string"/>
			<xsd:attribute name="vendor" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
